@import './modules/var';
@import './modules/button';

body{
    // background:$bg;
    background-color: #F6F6F6;
    color:$color;
    line-height:1.7;
    font-size:14px;
    font-family: $fonts;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a, div, span {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#wrap{
    height:100%;
}
.wrapper{
    width:100%;
}
.clearfix{
    &:after{
        content:"";
        display:block;
        height:0;
        font-size:0;
        clear:both;
    }
}
.alignleft{
    float:left;
}
.alignright{
    float:right;
}
.none{
    display: none;
    overflow: hidden;
}
a{
    text-decoration:none;
    color:#4e97fa;
}
input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select{
    appearance: menulist;
}

.form-main{
    float:left;
    width:$width-small;
}

.form-meta{
    font-size: 13px;
    color: #888;
    margin-top: 30px;
}

.sidebar{
    float: right;
    margin-top: 50px;
    width: 250px;
    .btn-primary{
        font-weight: bold;
        font-size: 18px;
    }
    .small-tip{
        font-size: 13px;
        color: #aaa;
        margin: 8px 0;
    }
}

.page-title{
    font-size:20px;
    margin-bottom:20px;
    .small{
        font-size:14px;
    }
}

.form-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1em;
}

.email-reg-complete{
    text-align: center;
    padding-top: 30px;
    font-size: 13px;
    vertical-align: middle;
    .email-send{
        font-size: 18px;
        span{
            color: $color-success;
        }
    }
    > div{
        display: inline-block;
    }
    .status-icon{
        margin-right: 10px;
    }
}
.email-reg-retry{
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

.real-name-pinyin{
    .form-group{
        display: inline-block;
        width: 48%;
        vertical-align: top;
        &:last-child{
            margin-left: 4%;
        }
    }
}

.not-us-warning{
    background-color: $color-danger;
    padding: 10px;
    color: #fff;
    margin-bottom: 1.5em;
}

.birthday-group{
    > .form-group {
        width: 31%;
        display: inline-block;
        &:nth-child(2) {
            margin: 0 3.5%;
        }
    }
}

.id_no-group{
    > .form-group {
        display: inline-block;
        &:first-child{
            width: 30%;
        }
        &:last-child{
            width: 66%;
            margin-left: 4%;
        }
    }
}

.form-group-control .form-group{
    margin-right: 40px;
}

.birthday-info{
    font-weight: bold;
}
